/* Custom CSS */

/* Apply font to all Persian text */
[lang="fa"], [dir="rtl"] {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
}

/* Apply font to all English text */
[lang="en"] {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
}

.contact-cards {
  margin-top: 2em;
  text-align: center;
}

.icon-link {
  border-width: 1px;
  border-color: gray;
  border-style: dotted;
  text-decoration: none;
  font-size: 2em;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  background: radial-gradient(ellipse at 50% 80%,rgba(255, 154, 0, 0.2),hsla(0, 0%, 100%, 0));
  display: inline-block;
  line-height: 1;
  color: inherit;
  transition: background-color 0.3s, color 0.3s;
  }

.icon-link:hover {
  background-color: rgba(255, 154, 0, 0.4);
}

.report-card {
  border-width: 1px;
  border-color: gray;
  border-style: dotted;
  background: radial-gradient(ellipse at 50% 80%,rgba(255, 154, 0, 0.2),hsla(0, 0%, 100%, 0));
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.report-card:hover {
  background-color: rgba(255, 154, 0, 0.3);
  border-width: 1px;
  border-color: gray;
  border-style: dotted;
}

.donation-wrapper {
  margin-top: 1em;
  text-align: center;
}

.donation-div {
  border-width: 1px;
  border-color: gray;
  border-style: dotted;
  border-radius: 13px;
  background: radial-gradient(ellipse at 50% 80%,rgba(255, 154, 0, 0.2),hsla(0, 0%, 100%, 0));
  font-size: 1em;
  padding: 21px;
  transition: background-color 0.3s, color 0.3s;
}

.donation-div:hover {
  background-color: rgba(255, 154, 0, 0.4);
}

.rss {
  text-align: center;
  margin-top: 2em;
}
